@page
@model MyApp.Namespace.UserRatesModel
@{
    ViewData["Title"] = "Rate todo";

    ViewBag.Ratings = string.Join(", ", Model.Ratings);
}

<link href="~/css/jquery.rateyo.min.css" rel="stylesheet" />

<div class="container">
    <div class="row">
        @{
            @foreach (var item in Model.ToDoList)
            {
                var initialRating = Model.AverageRatings.FirstOrDefault(x => x.TodoId == item.Id)?.Average ?? 0;
                <div class="col-md-4 mb-4">
                    <div class="card">
                       <div class="card-body">
    <h4 class="card-title"><b>@item.Period</b></h4>
<h6 class="card-title"><b>@item.Difficulty</b></h6>
<h6 class="card-title"><b>@item.Category</b></h6>
<h6 class="card-title"><b>@item.Instruction</b></h6>

    <!-- Add other properties as needed -->
    <div class="row">
        <div class="col">
            <form method="post">
                <button type="submit" class="btn btn-primary btn-block" style="background-color: #006400;">Rate it!</button>
            </form>
        </div>
        <div class="col">
            <form method="post">
                <button type="submit" class="btn btn-primary btn-block" style="background-color: #006400;">Add to Favorites</button>
            </form>
        </div>
    </div>
    <div class="user-comments">
        <label style="color: black; font-weight: bold; font-size: 16px; overflow: hidden; height: 3em;">Comments</label>
        <div style="color: black; overflow: hidden; height: 3em;"> <!-- Sınırlı yorum görüntülemesi -->
            @foreach (var comment in Model.UserComments.Where(c => c.TodoId == item.Id))
            {
                <p style="margin: 0; padding: 0;">-@comment.Comment</p>
            }
        </div>
    </div>
</div>


                        <div class="rateYo" data-rating="@initialRating"></div>
                    </div>
                </div>


            }
        }
    </div>
</div>
<script src="~/js/jquery.min.js"></script>
<script src="~/js/jquery.rateyo.min.js"></script>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script type="text/javascript">
        $(function () {
            var stars = $('.rateYo');
            stars.each(function () {
                var rating = $(this).data('rating');
                $(this).rateYo({
                    rating: rating,
                    readOnly: true
                });
            });
        });
    </script>
}