@page
@model MyApp.Namespace.UserRatesModel
@{
    ViewData["Title"] = "Rate todo";

    ViewBag.Ratings = string.Join(", ", Model.Ratings);
}

<link href="~/css/jquery.rateyo.min.css" rel="stylesheet" />
<link href="~/C:\Users\cans7\Documents\GitHub\FitnessWEBProject\loginDemo\wwwroot\css\General.css" rel="stylesheet" />

<div class="container">
    <div class="row">
        @{
            @foreach (var item in Model.ToDoList)
            {
                var initialRating = Model.AverageRatings.FirstOrDefault(x => x.TodoId == item.Id)?.Average ?? 0;
                <div class="col-md-4 mb-4">
                    <div class="card h-100">
                        <div class="card-body rounded" style="background-color: rgba(255, 255, 255, 0.9);">
                            <h4 class="card-title">@item.Category</h4>
                            <h6 class="card-title">@item.Difficulty</h6>
                            <h6 class="card-title">@item.Period</h6>
                            <p class="card-text">@item.Instruction</p>
                            <form method="post" class="mt-auto">
                                <div class="user-comments mb-3">
                                    <label style="color: black; font-weight: bold; font-size: 16px; overflow: hidden; height: 3em;">Comments</label>
                                    <div style="color: black; overflow: hidden; height: 3em;"> 
                                        @foreach (var comment in Model.UserComments.Where(c => c.TodoId == item.Id))
                                        {
                                            <p style="margin: 0; padding: 0;">-@comment.Comment</p>
                                        }
                                    </div>
                                </div>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div>
                                        <button type="submit" class="btn btn-primary btn-sm" asp-page="Rate" asp-route-id="@item.Id" style="background-color: #006400;">Rate it!</button>
                                    </div>
                                    <div>
                                        <button type="submit" class="btn btn-primary btn-sm" asp-page="Favorite" asp-route-id="@item.Id" style="background-color: #006400;">Add to Favorites</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="rateYo" data-rating="@initialRating"></div>
                    </div>
                </div>
            }
        }
    </div>
</div>


<script src="~/js/jquery.min.js"></script>
<script src="~/js/jquery.rateyo.min.js"></script>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script type="text/javascript">
        $(function () {
            var stars = $('.rateYo');
            stars.each(function () {
                var rating = $(this).data('rating');
                $(this).rateYo({
                    rating: rating,
                    readOnly: true
                });
            });
        });
    </script>
}